/* Get a fancy font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400&display=swap');

body {
  background-color: white;
  color: black; /* text color */
}

/* Change header text to imported font */
h1 h2 h3 {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}

body { font-family: 'Roboto', sans-serif; font-family: 'Roboto Slab', serif;}

#reportFacets {
            font-family: 'Roboto', 'Roboto Slab', sans-serif;
            font-size: 14px;
            }
            

/* Make text visible on inputs */
.shiny-input-container {
  color: #474747;
}
.sidebar-language {
  padding: 12px 15px 2px;
}

.sidebar-language label {
  color: #f4f4f4;
}

.sidebar-language .form-group {
  margin-bottom: 6px;
}
